
.main{
  display: grid;
  grid-template-columns: 1fr; /* Una sola columna que ocupa el ancho completo */
  gap: 10px;
}

.row {
  display: contents; /* Esta propiedad hace que el contenedor no genere una caja, y sus hijos se colocan directamente en el Grid principal. */
}

.row > div {
  grid-column: 1 / -1; /* Cada div ocupa el ancho completo de la única columna del grid. */
  border: 1px solid #000;
  text-align: center;
  padding: 10px;
  background-color: lightgray; /* Color de fondo base para todos los divs */
  margin-bottom: 5px;
  box-sizing: border-box;
}

.div1{background-color: blue; text-align: center}
.div2{background-color: blue; text-align: center} 
.div3{background-color: blue; text-align: center}
.div4{background-color: green; text-align: center}
.div5{background-color: green; text-align: center} 
.div6{background-color: red; text-align: center}
.div7{background-color: pink; text-align: center}
.div8{background-color: yellow; text-align: center}


/*TABLET*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  
.main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 8px;
}
.div1 {
    grid-column: span 4 / span 4;
}

.div2 {
    grid-column: span 4 / span 4;
    grid-column-start: 5;
}

.div3 {
    grid-column: span 4 / span 4;
    grid-column-start: 9;
}

.div4 {
    grid-column: span 12 / span 12;
    grid-row-start: 2;
}

.div5 {
    grid-column: span 12 / span 12;
    grid-row-start: 3;
}

.div6 {
    grid-column: span 2 / span 2;
    grid-row-start: 4;
}

.div7 {
    grid-column: span 7 / span 7;
    grid-column-start: 3;
    grid-row-start: 4;
}

.div8 {
    grid-column: span 3 / span 3;
    grid-column-start: 10;
    grid-row-start: 4;
}    

}


/*COMPUTADORAS*/
@media only screen and (min-width: 1025px) {
  
.main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 8px;
}
    .div1 {
    grid-column: span 3 / span 3;
    
}

.div2 {
    grid-column: span 3 / span 3;
    grid-column-start: 4;
    
}

.div3 {
    grid-column: span 6 / span 6;
    grid-column-start: 7;
   
}

.div4 {
    grid-column: span 6 / span 6;
    grid-row-start: 2;
   
}

.div5 {
    grid-column: span 6 / span 6;
    grid-column-start: 7;
    grid-row-start: 2;
   
}

.div6 {
    grid-column: span 8 / span 8;
    grid-row-start: 3;
   
}

.div7 {
    grid-column: span 4 / span 4;
    grid-column-start: 9;
    grid-row-start: 3;
   
}

.div8 {
    grid-column: span 12 / span 12;
    grid-row-start: 4;
   
}

        
}